<div class="border p-4 rounded-lg mb-4">
  <h3 class="text-xl font-bold"><%= product.name %></h3>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <%= product.description %>
  </p>

  <p class="my-5">
    $ <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= product.active %>
  </p>

</div>
